[submodule "tests/libs/bats-support"]
	path = tests/libs/bats-support
	url = git@github.com:ztombol/bats-support.git
[submodule "tests/libs/bats-assert"]
	path = tests/libs/bats-assert
	url = git@github.com:ztombol/bats-assert.git
[submodule "tests/libs/bats"]
	path = tests/libs/bats
	url = git@github.com:sstephenson/bats.git
